.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #333333;
  border-color: #333333;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* menu stuff */
.main-header{
    background-color: #212121;
    border-color:  #212121;
    padding-bottom: 5px;

}

.main-navbar{
    position:relative;
    top: 25px;

}

.custom-navbar-brand{
    min-height: 20px;

}

.my-account-position{
    position:relative;
    top: 11px;

}

.header-link {
    font-family: pt-sans, sans-serif;;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;

}

.header-link:hover{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.btn-header:hover, .btn-header:focus, .btn-header:active{
    background-color:#212121;
    border-color: #212121;
}

/* video navigation page stuff*/

.video-browse-container{
    margin-left: 20px;
}

.video-browse-headers{
color: rgb(134, 203, 43);

}

.video-block {
    height: 150px;

    background-color: white;
}

/* slider controlls */
.left, .right {
    position: relative;
    color: white;
    font-size: 64px;
    top:35px;
    font-family: economica, sans-serif;
    font-weight: 400;
    line-height: 77px;

    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
    width:15px;
    margin-right: 35px;
}
.right {
    right: 0;
    width:15px;
}

.video-item{
}


/* colors */
.puke-green{
    color: #86CB2B;
}

.bg-color-header-brown{
    background-color:#212121;
    border-color:  #212121;
}

/* bootstrap stuff */
.modal-backdrop {
   background-color: black;
}