<frontmenu></frontmenu>

<div class="top-wrapper">
    <div class="top-layover">
        <img src="images/bg_banner.png" class="img-responsive">
    </div>
    <div class="container">
        <div class="top-content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="lead-text">
                    <h1>Documentaries, alternative sports, and more! Live and on-demand. Anytime. Anywhere.</h1>
                    <h2>Plans starting at $2.99 a month.</h2>
                </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="bottom-half-container">


    <!--BEGIN CENTER CONTENT-->
    <div class="center-content">
        <div class="container">
            <div class="row center-nav">
                <div class="col col-sm-4 col-xs-12">
                    <span class="glyphicon glyphicon-phone icon-sizer"></span>

                    <p class="hidden-xs">Watch on your PC or Mac, iPhone, iPad, and many Android devices.</p>

                    <p class="hidden-lg hidden-md hidden-sm">Watch on any device</p>
                </div>
                <div class="col col-sm-4 col-xs-12">
                    <span class="glyphicon glyphicon-hd-video icon-sizer"></span>

                    <p class="hidden-xs">Gain access to all previous NXL content and current live streaming events</p>

                    <p class="hidden-lg hidden-md hidden-sm">Stream NXL live events</p>
                </div>
                <div class="col col-sm-4 col-xs-12">
                    <span class="glyphicon glyphicon-pencil icon-sizer"></span>

                    <p class="hidden-xs">Watch our awesome instructional content.</p>

                    <p class="hidden-lg hidden-md hidden-sm">On demand content</p>
                </div>
            </div>

        </div>

    </div>
    <!--END CENTER CONTENT-->

    <!--BEGIN BOTTOM CONTENT-->
    <div class="bottom-content-container">
        <div class="container">
            <div class="col col-xs-12 col-md-3">
                <a href="#" class="">
                    <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
                </a>
                <h4>Content Name</h4>
            </div>
            <div class="col col-xs-12 col-md-3">
                <a href="#" class="">
                    <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
                </a>
                <h4>Content Name</h4>
            </div>
            <div class="col col-xs-12 col-md-3">
                <a href="#" class="">
                    <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
                </a>
                <h4>Content Name</h4>

            </div>
            <div class="col col-xs-12 col-md-3">
                <a href="#" class="">
                    <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
                </a>
                <h4>Content Name</h4>
            </div>


        </div>
    </div>


</div>



<!--
<div class="front-bottom-half-container">
    <div class="container-fluid front-middle-color">


    <div class="container">
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-phone icon-sizer"></span>

                    <p>Watch on your PC or Mac, iPhone, iPad, and many Android devices.</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-hd-video icon-sizer"></span>

                    <p>Gain access to all previous NXL content and current live streaming events</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-pencil icon-sizer"></span>

                    <p>Watch our awesome instructional content.</p>


            </div>

        </div>


    </div>

</div>



    <div class=" ">
        <div class="container">

            <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

  <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

        </div>

</div>
    </div>

<!--

<div class="middle-container-positioner">
    <div class="container-fluid front-middle-color">


    <div class="container">
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-phone icon-sizer"></span>

                    <p>Watch on your PC or Mac, iPhone, iPad, and many Android devices.</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-hd-video icon-sizer"></span>

                    <p>Gain access to all previous NXL content and current live streaming events</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-pencil icon-sizer"></span>

                    <p>Watch our awesome instructional content.</p>


            </div>

        </div>


    </div>

</div>
</div>



        <div class="container-fluid off-white-footer ">
        <div class="container">

            <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

  <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

        </div>
        </div>


-->