<frontmenu></frontmenu>

<div class="container-fluid jumbo-header">

    <div class="row">
        <div class="lead-text">
            <h1>Documentaries, alternative sports, and</h1>

            <h1>more! Live and on-demand. Anytime.</h1>

            <h1>Anywhere.</h1>

            <h2>Plans starting at $2.99 a month.</h2>
        </div>
    </div>
</div>


<div class="container-fluid front-middle-color">

    <div class="container">
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-phone icon-sizer"></span>

                    <p>Watch on your PC or Mac, iPhone, iPad, and many Android devices.</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-hd-video icon-sizer"></span>

                    <p>Gain access to all previous NXL content and current live streaming events</p>


            </div>

        </div>
        <div class="col-md-4">
            <div class="mid-item">

                    <span class="glyphicon glyphicon-pencil icon-sizer"></span>

                    <p>Watch our awesome instructional content.</p>


            </div>

        </div>


    </div>

</div>


	<div class="container-fluid off-white-footer ">
        <div class="container">

            <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

  <div class="row">
  <div class="col-xs-6 col-md-3">

    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
      <h4>Content Name</h4>
  </div>
<div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
    <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

                <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="images/nxl-prop.jpg" alt="...">
    </a>
     <h4>Content Name</h4>
  </div>

</div>

        </div>
        </div>


