<div class="container signin-container">

	<div ng-hide="!paymentSuccess">
		<h2 class="puke-green">Payment has been added</h2>
		<p>
			Your card ending in {{paymentSuccessData.payment_hint}} has been set as your payment method.  You will be charged 5$ once per month.
		</p>
		<p>
			Please log back in <a href="/#/login">here</a> to continue to the site.
		</p>

	</div>

	<div ng-hide="!paypalSuccess">
		<h2 class="puke-green">Payment has been added</h2>
		<p>
			Your PayPal account with the email {{paymentSuccessData.payment_hint}} has been set as your payment method.  You will be charged 5$ once per month starting today.
		</p>
		<p>
			Please log back in <a href="/#/login">here</a> to continue to the site.
		</p>

	</div>

	<div ng-hide="paymentSuccess || paypalSuccess" cg-busy="callPaypal || chargeCard">
    <h2 class="puke-green">Please add a payment method</h2>

    <tabset justified="true">
   <tab class="signup-tab" heading="Credit Card">
		<div class="cc-form-container row">
		<form stripe-form="handleStripe" name="card">
			<div class="form-group">
              <div class="col-sm-12">
                <label for="cc_number">Card number</label>
                <input type="text" id="cc_number" class="form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
              </div>
			</div>

			<div class="form-group">
				<div class="col-sm-6">
                <label for="cc_expiry">Expiration</label>
                <input type="text" id="cc_expiry"  class="form-control" placeholder="mm/yy" ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
              </div>

			  		<div class="col-sm-6">
                <label for="cc_cvc">CVC</label>
                <input type="text" id="cc_cvc" placeholder="xyx" class="form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
              </div>

			</div>


				<div class="col-sm-12">
					<label for="cc_name">Name on Card</label>
					<input type="text" class="form-control" id="cc_name" ng-model="name">
				</div>

			<div class="row" >
				<div class="col-sm-4"></div>
				<div class="col-sm-4" style="margin-top: 15px;">

					<button type="submit" class="btn btn-success btn-lg">Start Membership</button>
				</div>
			</div>


            </form>

			</div>

	</tab>

		 <tab heading="PayPal" class="signup-tab">
			 <div class="container" style="margin-top: 15px; margin-bottom: 15px">
				 <div class="row">
				 <p>To sign up, click on the "PayPal" button and log on to PayPal using your email and password.</p>
			 </div>

			 <div class="row">
				 <div class="col-sm-4"></div>
				 <div class="col-sm-4">

					<braintree-paypal options="paypalOptions"></braintree-paypal>
				 </div>
				 <div class="col-sm-4"></div>

			 </div>
				 <div class="row" ng-show="showPaypalError">
					 <div class="col-sm-11">
						 <p class="bg-danger">{{errorMessage}}</p>
					 </div>

				 </div>
			 </div>
		 </tab>

  </tabset>

</div>
</div>