
<div menu></div>

<!--BEGIN HEADER CAROUSEL-->
<div class="container-fluid carousel-container hidden-xs">



    <uib-carousel interval="2000">

      <uib-slide ng-repeat="image in carousels">
             <div class="carousel-image" ng-click="goToCarousel(image)">
            <img ng-src="{{image.image}}" style="width:100%">
        </div>




        <div class="carousel-caption" ng-click="goToCarousel(image)">

           <div class="header-title">
                <h2>{{image.title}}</h2>
           </div>

        </div>
      </uib-slide>
    </uib-carousel>

</div>
<!--END HEADER CAROUSEL-->

<div class="container-fluid browse-video-container">





    <div class="netflix-main-row" ng-repeat="channel in channels | orderBy:'channel.title'">


        <h2 class="video-browse-headers">{{channel.title}}</h2>
        <div class="netflix-row-content">


        <div owl-carousel="channel.episodes">

            <div class="netflix-slider-item">
                <div class="item video-item">
                    <div class="netflix-title-card-container">
                        <div class="netflix-title-card" id="{{item.media_id}}">
                            <title-card>

                            </title-card>



                    </div>
                    </div>
                    <div class="episode-title-container">
                            <h2>{{item.title}}</h2>

                        </div>
            </div>
            </div>
        </div>
        </div>

        <div class="sub-description" id="{{channel.id}}">
            <div class="description-close" ng-click="closeFocus(channel.id)">X</div>
            <div class="description-main">


                <div class="description-holder">
                    <h1>{{currentFocus.title}}</h1>
                    <p>{{currentFocus.description}}</p>
                </div>

                <div class="image-holder">

                    <div class="description-play-button">
                                                <span class="glyphicon glyphicon-play-circle" ng-click="playVideo(item.media_id)">
                                                      </span>
                    </div>
                </div>

            </div>


        </div>


    </div>



</div>

<footer></footer>