<div ng-controller="ChangepasswordCtrl">

        <div class="modal-header">
            <h3 class="modal-title puke-green">Change Your Password</h3>
        </div>
        <div class="modal-body">



           <formly-form model="form" fields="fields"></formly-form>
            <div ng-show="badPassword" class="has-error"><p style="color:red;">The password you entered does not match your current password.</p></div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="changePassword()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
        </div>




</div>