
<!--
<div class="navbar front-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle front-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
                </button>
				<div class="frontend-logo-container">
					<a class="navbar-brand" href="/#/"><img class="img-responsive" src="images/sportzflixlogo.png"></a>
				</div>

			</div>


			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right nav-front">
				<li><a href="index.html#/signup">SIGN UP</a></li>
				<li><a href="index.html#/login">SIGN IN</a></li>
			</ul>
			</div>
		</div>

	</div>
-->
<link rel="stylesheet" href="styles/front-page.css">

<div class="hdSpace">

    <div class="hdPinTargetFront">



        <a class="nflix-logo" href="/#/">
        <img class="img-responsive" src="images/gosportslogo.png">
        </a>
        <ul class="netflix-ul pull-right">

        </ul>

        <div class="netflix-right-nav">
            <div class="netflix-nav-element">
                <div class="profile-drop-down">
        <a class="profile-text" ng-click="signup()">SIGN UP</a>
                </div>
            </div>
        </div>
		<div class="netflix-right-nav">
            <div class="netflix-nav-element">
                <div class="profile-drop-down">
       <a class="profile-text" ng-click="signin()">SIGN IN</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>