<span class="LimelightEmbeddedPlayer"><script src="http://assets.delvenetworks.com/player/embed.js">

</script><object

        onerror = "alert('fuck u')"
        type="application/x-shockwave-flash" id="limelight_player_406354" name="limelight_player_406354"
        class="LimelightEmbeddedPlayerFlash" width="100%" height="600px"
        data="http://assets.delvenetworks.com/player/loader.swf">
    <param name="movie" value="http://assets.delvenetworks.com/player/loader.swf"/>
    <param name="wmode" value="window"/>
    <param name="allowScriptAccess" value="always"/>
    <param name="allowFullScreen" value="true"/>
    <param name="flashVars" value="playerForm=fc40dbd8074e41dcb70d5f47bbf85da1&amp;mediaId={{media}}"/>
</object></span>
