<span class="LimelightEmbeddedPlayer">
    <script>

        "undefined" === typeof LimelightPlayerUtil && ("undefined" === typeof JSON && (this.JSON = {}, function () {
            function z(c) {
                return 10 > c ? "0" + c : c
            }

            function F(c) {
                B.lastIndex = 0;
                return B.test(c) ? '"' + c.replace(B, function (c) {
                    var p = G[c];
                    return "string" === typeof p ? p : "\\u" + ("0000" + c.charCodeAt(0).toString(16)).slice(-4)
                }) + '"' : '"' + c + '"'
            }

            function C(c, r) {
                var p, l, s, D, m = n, h, g = r[c];
                g && ("object" === typeof g && "function" === typeof g.toJSON) && (g = g.toJSON(c));
                "function" === typeof u && (g = u.call(r, c, g));
                switch (typeof g) {
                    case "string":
                        return F(g);
                    case "number":
                        return isFinite(g) ? String(g) : "null";
                    case "boolean":
                    case "null":
                        return String(g);
                    case "object":
                        if (!g)return "null";
                        n += w;
                        h = [];
                        if ("[object Array]" === Object.prototype.toString.apply(g)) {
                            D = g.length;
                            for (p = 0; p < D; p += 1)h[p] = C(p, g) || "null";
                            s = 0 === h.length ? "[]" : n ? "[\n" + n + h.join(",\n" + n) + "\n" + m + "]" : "[" + h.join(",") + "]";
                            n = m;
                            return s
                        }
                        if (u && "object" === typeof u)for (D = u.length, p = 0; p < D; p += 1)l = u[p], "string" === typeof l && (s = C(l, g)) && h.push(F(l) + (n ? ": " : ":") + s); else for (l in g)Object.hasOwnProperty.call(g, l) &&
                        (s = C(l, g)) && h.push(F(l) + (n ? ": " : ":") + s);
                        s = 0 === h.length ? "{}" : n ? "{\n" + n + h.join(",\n" + n) + "\n" + m + "}" : "{" + h.join(",") + "}";
                        n = m;
                        return s
                }
            }

            "function" !== typeof Date.prototype.toJSON && (Date.prototype.toJSON = function () {
                return isFinite(this.valueOf()) ? this.getUTCFullYear() + "-" + z(this.getUTCMonth() + 1) + "-" + z(this.getUTCDate()) + "T" + z(this.getUTCHours()) + ":" + z(this.getUTCMinutes()) + ":" + z(this.getUTCSeconds()) + "Z" : null
            }, String.prototype.toJSON = Number.prototype.toJSON = Boolean.prototype.toJSON = function () {
                return this.valueOf()
            });
            var E = /[\u0000\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g, B = /[\\\"\x00-\x1f\x7f-\x9f\u00ad\u0600-\u0604\u070f\u17b4\u17b5\u200c-\u200f\u2028-\u202f\u2060-\u206f\ufeff\ufff0-\uffff]/g, n, w, G = {
                "\b": "\\b",
                "\t": "\\t",
                "\n": "\\n",
                "\f": "\\f",
                "\r": "\\r",
                '"': '\\"',
                "\\": "\\\\"
            }, u;
            "function" !== typeof JSON.stringify && (JSON.stringify = function (c, r, p) {
                var l;
                w = n = "";
                if ("number" === typeof p)for (l = 0; l < p; l += 1)w += " "; else"string" === typeof p && (w = p);
                if ((u = r) && "function" !== typeof r && ("object" !== typeof r || "number" !== typeof r.length))throw Error("JSON.stringify");
                return C("", {"": c})
            });
            "function" !== typeof JSON.parse && (JSON.parse = function (c, n) {
                function p(c, l) {
                    var m, h, g = c[l];
                    if (g && "object" === typeof g)for (m in g)Object.hasOwnProperty.call(g, m) && (h = p(g, m), void 0 !== h ? g[m] = h : delete g[m]);
                    return n.call(c, l, g)
                }

                var l;
                c = String(c);
                E.lastIndex = 0;
                E.test(c) && (c = c.replace(E, function (c) {
                    return "\\u" + ("0000" + c.charCodeAt(0).toString(16)).slice(-4)
                }));
                if (/^[\],:{}\s]*$/.test(c.replace(/\\(?:["\\\/bfnrt]|u[0-9a-fA-F]{4})/g,
                                "@").replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, "]").replace(/(?:^|:|,)(?:\s*\[)+/g, "")))return l = eval("(" + c + ")"), "function" === typeof n ? p({"": l}, "") : l;
                throw new SyntaxError("JSON.parse");
            })
        }()), LimelightPlayerUtil = function () {
            function z(a, e, b, q, d) {
                g(a, function (f) {
                    var v = {service: {}};
                    a.playlistService && (v.service.playlistService = a.playlistService);
                    a.metricsCollectionService && (v.service.metricsCollectionService = a.metricsCollectionService);
                    a.cuePointService && (v.service.cuePointService =
                            a.cuePointService);
                    a.beaconingService && (v.service.beaconingService = a.beaconingService);
                    return LimelightPlayer = DelvePlayer = f = f.createPlayer(e, b, q, d, v)
                })
            }

            function F(a, e, b, q) {
                b.postStartSessionEvent();
                w(a, e, D, b, function (a, f) {
                    var e = f.mediaList[0], c = document.createElement("TABLE");
                    c.style = "border-style:none";
                    var g = c.appendChild(document.createElement("TR")).appendChild(document.createElement("TD")).appendChild(document.createElement("A"));
                    g.href = "#";
                    g.appendChild(document.createElement("IMG")).src = encodeURI(e.thumbnailImageUrl);
                    var k = c.appendChild(document.createElement("TR")).appendChild(document.createElement("TD"));
                    k.style = "text-align:center";
                    k = k.appendChild(document.createElement("A"));
                    k.href = "#";
                    k.appendChild(document.createTextNode("Click to play"));
                    var t = function () {
                        b.postPlayStateEvent(x.PLAY, 0, function () {
                            window.location = e.mobileUrls[0].mobileUrl
                        });
                        return !1
                    };
                    g.onclick = t;
                    k.onclick = t;
                    q(c)
                })
            }

            function C(a, e, b, q, d, f) {
                w(a, q, h.htmlCodec, d, function (a, q) {
                    d.postStartSessionEvent();
                    var c = q.mediaList[0], k = document.createElement("VIDEO");
                    k.src = encodeURI(c.mobileUrls[0].mobileUrl);
                    k.width = e;
                    k.height = b;
                    k.poster = encodeURI(c.previewImageUrl);
                    k.controls = !0;
                    k.addEventListener("click", k.play);
                    k.addEventListener("play", function () {
                        d.postPlayStateEvent(x.PLAY, Math.round(1E3 * k.currentTime));
                        d.startHeartbeat({
                            quality: a, getPosition: function () {
                                return Math.round(1E3 * k.currentTime)
                            }, isPlaying: function () {
                                return !k.paused
                            }
                        })
                    });
                    k.addEventListener("pause", function () {
                        k.ended || d.postPlayStateEvent(x.PAUSE, Math.round(1E3 * k.currentTime));
                        d.stopHeartbeat()
                    });
                    k.addEventListener("ended", function () {
                        d.postEvent(x.MEDIA_COMPLETE);
                        d.stopHeartbeat()
                    });
                    var t = 0;
                    k.addEventListener("timeupdate", function () {
                        var a = k.currentTime;
                        if (k.seeking && a !== t) {
                            var f = Math.round(1E3 * t), e = Math.round(1E3 * a);
                            f !== e && d.postEvent(x.SEEK, {
                                offsetBefore: f,
                                offsetAfter: e,
                                heatmapDisplayed: !1,
                                spectrumType: "",
                                spectrumColor: 0,
                                relatedConcepts: ""
                            })
                        }
                        t = a
                    });
                    f(k)
                })
            }

            function E(a) {
                a = a || {};
                a.wmode = a.wmode || "window";
                a.id = a.id || "limelight_player_" + Math.floor(1E9 * Math.random());
                a.resources = a.resources || {};
                a.resources.beaconingService = a.resources.beaconingService || p;
                a.resources.cuePointService = a.resources.cuePointService || r;
                a.resources.metricsCollectionService = a.resources.metricsCollectionService || c;
                a.resources.playlistService = a.resources.playlistService || u;
                a.resources.htmlPlayerLocation = a.resources.htmlPlayerLocation || h.loadingProtocol + l;
                a.resources.playerIframeLocation = a.resources.playerIframeLocation || h.loadingProtocol + s;
                return a
            }

            function B(a, e, b, q, d, f, v, c, g) {
                var k = x.create(e.metricsCollectionService,
                        q, g);
                switch (g) {
                    case "iframe":
                        return L(e, v, d, f, q, k, a);
                    case "html":
                        return z(e, v, d, f, null !== b ? b : q);
                    case "video":
                        C(e, d, f, q, k, a);
                        break;
                    case "link":
                        F(e, q, k, a);
                        break;
                    case "install-flash":
                        h.Flash.canUpgrade ? (e = !0 === h.Flash.isActiveX ? "ActiveX" : "PlugIn", document.title = document.title.slice(0, 47) + " - Flash Player Installation", n(a, "http://assets.delvenetworks.com/player/playerProductInstall.swf", "MMredirectURL=" + window.location + "&MMplayerType=" + e + "&MMdoctitle=" + document.title, d, f, v, c)) : a('<table width="' + d + '" height="' +
                        f + '" bgcolor="black" style="background-color:black; margin-left:auto; margin-right:auto"><tr><td align="center" style="text-align:center; vertical-align:middle"><a href="http://www.adobe.com/go/getflash/" style="text-decoration:underline; color:white"><span style="font-size:12px; color:white">You need to have the latest version of Adobe Flash Player to view this content.<br/>Please click here to continue.</span></a></td></tr></table>')
                }
                return null
            }

            function n(a, e, b, q, d, f, c) {
                var g = "", h;
                if ("string" === typeof b)g = b; else if ("object" === typeof b)for (h in b)g += encodeURIComponent(h) + "=" + encodeURIComponent(b[h]) + "&";
                a('<object type="application/x-shockwave-flash" id="' + f + '" name="' + f + '" width="' + q + '" height="' + d + '" data="' + e + '"><param name="movie" value="' + e + '"/><param name="wmode" value="' + c + '"/><param name="allowScriptAccess" value="always"/><param name="allowFullScreen" value="true"/><param name="flashVars" value="' + g + '"/></object>');
                return document.getElementById(f)
            }

            function w(a, e, b, q, d) {
                var f;
                e.mediaId ?
                        f = a.playlistService + "/media/" + e.mediaId + "/getMobilePlaylistByMediaId?platform=" + b : e.channelId ? f = a.playlistService + "/channel/" + e.channelId + "/getFirstAvailableMobilePlaylistByChannelId?platform=" + b : e.channelListId && (f = a.playlistService + "/channel_list/" + e.channelListId + "/getFirstAvailableMobilePlaylistByChannelListId?platform=" + b);
                M(f, function (a) {
                    a && a.mediaList && a.mediaList[0] ? (a.id && q.setChannelId(a.id), a.mediaList[0].mediaId && q.setMediaId(a.mediaList[0].mediaId), 0 < a.mediaList[0].mobileUrls.length ?
                            d(b, a) : showError("Video Not Available For This Device")) : showError("Video Not Available")
                })
            }

            function G(a) {
                function e(a) {
                    return ("object" === typeof a || "function" === typeof a) && a.nodeType
                }

                if ("undefined" === typeof a)return function (a) {
                    e(a) ? document.body.appendChild(a) : document.write(a)
                };
                "string" === typeof a && (a = document.getElementById(a));
                if (e(a)) {
                    if ("OBJECT" === a.nodeName) {
                        var b = a.parentNode, q = a.nextSibling, d = !1;
                        return function (f) {
                            var c = document.createElement("DIV");
                            e(f) ? c.appendChild(f) : c.innerHTML = f;
                            d ||
                            (b.replaceChild(c.firstChild, a), d = !0);
                            for (; c.firstChild;)b.insertBefore(c.firstChild, q)
                        }
                    }
                    return function (f) {
                        e(f) ? a.appendChild(f) : a.innerHTML += f
                    }
                }
                return null
            }

            var u = "//production-ps.lvp.llnw.net/r/PlaylistService", c = "//production-mcs.lvp.llnw.net/r/MetricsCollectionService", r = "//cps.lvp.llnw.net/r/CuePointService", p = "//production-eqbc.lvp.llnw.net", l = "//videoplatform.limelight.com/player/html-player.js", s = "//assets.delvenetworks.com/player/resources/iframe.html", D = "Mobile3gp", m = navigator, h = function () {
                        var a =
                                m.userAgent.toLowerCase(), e = m.platform.toLowerCase(), b = /android \d+\x2E\d+/.test(a), c = /android [2-9]+\x2E\d+/.test(a), d = /blackberry/.test(a);
                        /playbook/.test(a);
                        var f = /msie/.test(a), g = /msie\s\d\d/.test(a), h = /iemobile/.test(a), p = /ipad/.test(a), k = /iphone|ipad|ipod/.test(a), t = /silk/.test(a), H = /linux/.test(e ? e : a), e = /opera mobi|opera tablet/.test(a), A = /fennec/.test(a), l = /symbian|series60/.test(a), n = /nintendo wiiu/.test(a), I = /mobile/.test(a) || b, d = b || k || t || d || l || e || A || n || h || I, h = [0, 0, 0];
                        if (k && (a = a.match(/os (.*) like mac os x/)) &&
                                1 < a.length) {
                            var h = [], a = a[1].split("_"), y;
                            for (y in a)h.push(parseInt(a[y]));
                            for (; 3 > h.length;)h.push(0)
                        }
                        y = function () {
                            var a = document.createElement("VIDEO");
                            return a.canPlayType ? a.canPlayType('video/mp4; codecs="avc1.42E01E, mp4a.40.2"') : ""
                        }();
                        A = (c || t || k) && !A;
                        c = function () {
                            var a = document.createElement("VIDEO");
                            return a.canPlayType ? a.canPlayType("application/vnd.apple.mpegurl") : ""
                        }();
                        t = "probably" === c || k ? "HttpLiveStreaming" : "MobileH264";
                        a = function () {
                            var a = function () {
                                var a = null;
                                if ("undefined" !== typeof m.plugins &&
                                        "object" == typeof m.plugins["Shockwave Flash"]) {
                                    if ((a = m.plugins["Shockwave Flash"].description) && ("undefined" === typeof m.mimeTypes || !m.mimeTypes["application/x-shockwave-flash"] || m.mimeTypes["application/x-shockwave-flash"].enabledPlugin))return a = a.replace(/^.*\s+(\S+\s+\S+$)/, "$1"), [parseInt(a.replace(/^(.*)\..*$/, "$1"), 10), parseInt(a.replace(/^.*\.(.*)\s.*$/, "$1"), 10), /[a-zA-Z]/.test(a) ? parseInt(a.replace(/^.*[a-zA-Z]+(.*)$/, "$1"), 10) : 0]
                                } else if ("undefined" !== typeof window.ActiveXObject)try {
                                    var f =
                                            new ActiveXObject("ShockwaveFlash.ShockwaveFlash");
                                    if (f && (a = f.GetVariable("$version")))return a = a.split(" ")[1].split(","), [parseInt(a[0], 10), parseInt(a[1], 10), parseInt(a[2], 10)]
                                } catch (e) {
                                }
                                return [0, 0, 0]
                            }();
                            return function (f, e, b) {
                                return a[0] > f || a[0] == f && (a[1] > e || a[1] == e && a[2] >= b)
                            }
                        }();
                        f = {
                            canUpgrade: !H && a(6, 0, 65),
                            H264: a(9, 0, 115),
                            hasAdaptiveStreaming: a(10, 0, 0),
                            isActiveX: f
                        };
                        b = f.H264 && !b ? "flash" : d ? "probably" === y || A ? e || k && !p && 5 > h[0] ? "video" : "html" : "link" : "install-flash";
                        "install-flash" === b && (g && "assets.delvenetworks.com" !==
                        window.location.host) && (b = "iframe");
                        return {
                            Metrics: {H264: y, HLS: c},
                            embedMode: b,
                            htmlCodec: t,
                            Flash: f,
                            loadingProtocol: "https:" === document.location.protocol ? "https:" : "http:"
                        }
                    }(), g = function () {
                        var a = [];
                        return function (e, b) {
                            if (void 0 !== LimelightPlayerUtil.Player)b(LimelightPlayerUtil.Player); else if (a.push(b), void 0 === LimelightPlayerUtil.playerLoadedCallback) {
                                var c = document.getElementsByTagName("head")[0] || document.documentElement, d = document.createElement("SCRIPT");
                                d.type = "text/javascript";
                                d.src = e.htmlPlayerLocation;
                                d.charset = "utf-8";
                                LimelightPlayerUtil.playerLoadedCallback = function (f) {
                                    LimelightPlayerUtil.Player = f;
                                    delete LimelightPlayerUtil.playerLoadedCallback;
                                    c && c.removeChild(d);
                                    a.forEach(function (a) {
                                        a(f)
                                    });
                                    a = []
                                };
                                d.onerror = function () {
                                    a.forEach(function (a) {
                                        a(null)
                                    });
                                    a = []
                                };
                                c.insertBefore(d, c.firstChild)
                            }
                        }
                    }(), L = function () {
                        var a = [];
                        return function (e, c, g, d, f, h, p) {
                            function l(a) {
                                var f = {}, e;
                                for (e in a)f[e] = "object" === typeof a[e] && a[e] ? l(a[e]) : a[e];
                                return f
                            }

                            var k = document.createElement("IFRAME");
                            k.id = c;
                            k.width = g;
                            k.height =
                                    d;
                            k.src = e.playerIframeLocation;
                            k.style.border = "none";
                            p(k);
                            var t = document.getElementById(c).contentWindow, H = {}, A = {}, n = {}, m = 0, I = {}, y = 0, s = 1, r = null, J = null, K = void 0;
                            window.addEventListener("message", function (c) {
                                var b, d = c.data.state;
                                d && (d.channelList && (H = d.channelList), d.channel && (A = d.channel), d.media && (n = d.media), d.index && (m = d.index), d.playState && (I = d.playState), d.position && (y = d.position), d.volume && (s = d.volume), d.quality && (r = d.quality), d.actualQuality && (J = d.actualQuality), d.customEvents && (K = d.customEvents));
                                switch (c.data.type) {
                                    case "event":
                                        "function" === typeof limelightPlayerCallback ? limelightPlayerCallback(c.data.id, c.data.eventName, c.data.data) : "function" === typeof delvePlayerCallback && delvePlayerCallback(c.data.id, c.data.eventName, c.data.data);
                                        break;
                                    case "init":
                                        t.postMessage({
                                            type: "init",
                                            embed: "../embed.js",
                                            flashVars: f,
                                            resourceLocations: e
                                        }, "*");
                                        break;
                                    case "api":
                                        b = {};
                                        for (var g in c.data.funcs) {
                                            var d = c.data.funcs[g], h = function (a) {
                                                return function () {
                                                    t.postMessage({
                                                                type: "func",
                                                                name: a,
                                                                args: Array.prototype.slice.call(arguments)
                                                            },
                                                            "*")
                                                }
                                            }(d);
                                            b[d] = h
                                        }
                                        b.registerPlayer = function () {
                                        };
                                        b.getPlayers = function () {
                                            return a
                                        };
                                        b.doGetActualQuality = function () {
                                            return J ? J.name : null
                                        };
                                        b.doGetQuality = function () {
                                            return r ? r.name : null
                                        };
                                        b.doGetQualityDetails = function () {
                                            return l({actual: J, selected: r})
                                        };
                                        b.doGetCurrentIndex = function () {
                                            return m
                                        };
                                        b.doGetCurrentMedia = function () {
                                            return l(n)
                                        };
                                        b.doGetCurrentChannel = function () {
                                            return l(A)
                                        };
                                        b.doGetCurrentChannelList = function () {
                                            return l(H)
                                        };
                                        b.doGetCurrentPlayState = function () {
                                            return l(I)
                                        };
                                        b.doGetCustomEvents = function () {
                                            return l(K)
                                        };
                                        b.doGetPlayheadPositionInMilliseconds = function () {
                                            return y
                                        };
                                        b.doSetVolume = function () {
                                            var a = b.doSetVolume;
                                            return function (b) {
                                                b || (b = 0);
                                                if ("number" === typeof b)return 0 > b && (b = 0), 1 < b && (b = 1), s = b, a(b)
                                            }
                                        }();
                                        b.doGetVolume = function () {
                                            return s
                                        };
                                        delete b.doGetChannels;
                                        delete b.doGetChannelMedia;
                                        b.getPlayer = function () {
                                            return b
                                        };
                                        b.getPlayerNodeByIdOrName = function (a) {
                                            var b = document.getElementById(a);
                                            return b && b.doPlay ? b : (a = document.getElementsByName(a)) && null != a.length ? a[0] : null
                                        };
                                        LimelightPlayer = DelvePlayer = b;
                                        for (var q in b)k[q] =
                                                b[q];
                                        a.push(b)
                                }
                            })
                        }
                    }(), x = function () {
                        function a(a) {
                            var b = document.cookie.indexOf(a + "="), e = b + a.length + 1;
                            if (!b && a != document.cookie.substring(0, a.length) || -1 == b)return null;
                            a = document.cookie.indexOf(";", e);
                            -1 == a && (a = document.cookie.length);
                            return unescape(document.cookie.substring(e, a))
                        }

                        function e() {
                            return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (a) {
                                var b = 16 * Math.random() | 0;
                                return ("x" == a ? b : b & 3 | 8).toString(16)
                            }).toUpperCase()
                        }

                        function b(a, b) {
                            if (void 0 !== a) {
                                var e = !1;
                                return function () {
                                    e ||
                                    (e = !0, a.apply(b || this, arguments))
                                }
                            }
                        }

                        var c = e(), d = {
                            H264: h.Metrics.H264,
                            HLS: h.Metrics.HLS
                        }, f = m.userAgent, g = m.platform, l = function () {
                            var b = a("Limelight_Embed_Code_UserId");
                            return function () {
                                if (!b) {
                                    var a = b = e(), d = 365, c = new Date;
                                    c.setTime(c.getTime());
                                    d && (d *= 864E5);
                                    c = new Date(c.getTime() + d);
                                    document.cookie = "Limelight_Embed_Code_UserId=" + escape(a) + (d ? ";expires=" + c.toGMTString() : "") + ""
                                }
                                return b
                            }
                        }(), p = function () {
                            var a = +new Date;
                            return function () {
                                return new Date - a
                            }
                        }(), k = function () {
                            var a = 0;
                            return function (b, e,
                                             d) {
                                var c = "_limelight_embed_ajax_" + a++, f = document.createElement("IFRAME");
                                f.id = c;
                                f.name = c;
                                f.style.cssText = "display:none;width:0px;height:0px;";
                                (document.getElementsByTagName("body")[0] || document.documentElement).appendChild(f);
                                var g = document.createElement("FORM");
                                g.setAttribute("target", c);
                                g.setAttribute("method", "POST");
                                g.setAttribute("action", b);
                                for (field in e)b = document.createElement("INPUT"), b.setAttribute("type", "hidden"), b.setAttribute("name", field), b.setAttribute("value", JSON.stringify(e[field])),
                                        g.appendChild(b);
                                f.appendChild(g);
                                f.onload = function () {
                                    void 0 !== d && d();
                                    setTimeout(function () {
                                        f.parentNode.removeChild(f)
                                    }, 0)
                                };
                                g.submit()
                            }
                        }();
                        return {
                            HEARTBEAT: "Heartbeat",
                            MEDIA_COMPLETE: "MediaComplete",
                            PLAY: "Play",
                            PAUSE: "Pause",
                            SEEK: "Seek",
                            START_SESSION: "StartSession",
                            create: function (a, e, h) {
                                var n = {}, m = null;
                                d.embedMode = h;
                                var r = {
                                    postEvent: function (b, d, f) {
                                        var g = {
                                            channelListId: n.channelListId || e.channelListId,
                                            channelId: n.channelId || e.channelId,
                                            mediaId: n.mediaId || e.mediaId,
                                            millisecondsElapsed: p()
                                        }, h;
                                        for (h in g)void 0 ===
                                        g[h] && (g[h] = "");
                                        for (h in d)g[h] = void 0 === d[h] ? "" : d[h];
                                        k(a + "/recordMetricsEvent", {
                                            sourceInstanceId: c,
                                            source: "Limelight Embed Code",
                                            sourceVersion: 1,
                                            eventType: b,
                                            data: g
                                        }, f)
                                    }, postStartSessionEvent: function () {
                                        this.postEvent(x.START_SESSION, {
                                            adConfigurationChannelId: e.adConfigurationChannelId,
                                            htmlCapabilities: JSON.stringify(d),
                                            pageURL: window.location.href,
                                            platform: g,
                                            playerProviderId: "Delve Networks",
                                            userAgent: f,
                                            userId: l(),
                                            version: "1.6"
                                        })
                                    }, postPlayStateEvent: function (a, e, d) {
                                        var c = b(d);
                                        this.postEvent(a, {positionInMilliseconds: e},
                                                c);
                                        void 0 !== d && setTimeout(c, 1E3)
                                    }, setChannelListId: function (a) {
                                        n.channelListId = a
                                    }, setChannelId: function (a) {
                                        n.channelId = a
                                    }, setMediaId: function (a) {
                                        n.mediaId = a
                                    }, startHeartbeat: function (a) {
                                        null !== m && clearInterval(m);
                                        m = setInterval(function () {
                                            a.isPlaying() && r.postEvent(x.HEARTBEAT, {
                                                droppedFrames: 0,
                                                droppedFramesRatio: "",
                                                selectedMediaQuality: a.quality,
                                                positionInMilliseconds: a.getPosition(),
                                                maxBytesPerSecond: "",
                                                currentBitrate: ""
                                            })
                                        }, 3E4)
                                    }, stopHeartbeat: function () {
                                        null !== m && clearInterval(m);
                                        m = null
                                    }
                                };
                                return r
                            }
                        }
                    }(),
                    M = function () {
                        var a = 0;
                        return function (e, b) {
                            var c = "_" + a++;
                            e += "&jsonp=LimelightPlayerUtil.jsonpCallback." + c;
                            var d = document.getElementsByTagName("head")[0] || document.documentElement, f = document.createElement("SCRIPT");
                            f.type = "text/javascript";
                            f.src = e;
                            f.charset = "utf-8";
                            LimelightPlayerUtil.jsonpCallback[c] = function (a) {
                                delete LimelightPlayerUtil.jsonpCallback[c];
                                b(a);
                                d && d.removeChild(f)
                            };
                            f.onerror = function () {
                                b(null)
                            };
                            d.insertBefore(f, d.firstChild)
                        }
                    }();
            return {
                jsonpCallback: [], initEmbed: function (a, e) {
                    e = e ||
                    {};
                    var b = document.getElementById(a);
                    if (null === b)return console && (console.error && "function" === typeof console.error) && console.error("No such element: " + a), null;
                    var c = b.width, d = b.height, f = b.firstChild;
                    e.id = a;
                    for (var g = "", l = {}; null !== f;) {
                        if ("PARAM" === f.nodeName)switch (f.name) {
                            case "flashVars":
                                for (var g = f.value, l = {}, n = g.split("&"), k = 0; k < n.length; k++) {
                                    var m = n[k], p = m.indexOf("=");
                                    -1 === p ? l[decodeURIComponent(m)] = "true" : l[decodeURIComponent(m.substring(0, p))] = decodeURIComponent(m.substring(p + 1))
                                }
                                break;
                            case "wmode":
                                e.wmode =
                                        f.value
                        }
                        f = f.nextSibling
                    }
                    e = E(e);
                    f = e.embedMode || h.embedMode;
                    return "flash" !== f ? (b = G(b), B(b, e.resources, g, l, c, d, e.id, e.wmode, f)) : b
                }, embedPlayer: function (a, c, b, g, d) {
                    d = G(d);
                    g = E(g);
                    var f = g.embedMode || h.embedMode;
                    return "flash" === f ? n(d, h.loadingProtocol + (h.Flash.hasAdaptiveStreaming ? "//assets.delvenetworks.com/player/fp10loader.swf" : "//assets.delvenetworks.com/player/fp9loader.swf"), a, c, b, g.id, g.wmode) : B(d, g.resources, null, a, c, b, g.id, g.wmode, f)
                }
            }
        }());


    </script>

    <object type="application/x-shockwave-flash" id="limelight_player_95243" name="limelight_player_95243"
            class="LimelightEmbeddedPlayerFlash" width="100%" height="300px"
            data="http://video.limelight.com/player/loader.swf">
        <param name="movie" value="http://video.limelight.com/player/loader.swf"/>
        <param name="wmode" value="window"/>
        <param name="allowScriptAccess" value="always">
        <param name="allowFullScreen" value="true"/>
        <param name="flashVars"
               value="playerForm=2b84c3101f624f1d9f5857abfc109d52&mediaId={{media}}&autoplay=true"/>
    </object>
    <script>

    </script>

    <script type="text/javascript">

        function limelightPlayerCallback(playerId, eventName, data) {
            var id = "limelight_player_95243";
            if (eventName == 'onPlayerLoad' && (LimelightPlayer.getPlayers() == null || LimelightPlayer.getPlayers().length == 0)) {
                LimelightPlayer.registerPlayer(id);
            }
        }

        //console.log(LimelightPlayer);
        //LimeLightPlayerUtil.Player.doLoadMedia($scope.media, true, 0)



    </script>

</span>