
<frontmenu></frontmenu>


<input type="submit" ng-click="login()" />
<!--
    <div class="container whitebox-container">

<form ua-login class="form-signin">
    <div>
        <h1 class="form-signin-heading  puke-green text-center">Sign In</h1>
    </div>


    <label for="login"  class="sr-only" >Username</label>
	<input name="login" id="login" class="form-control" placeholder="Username" required autofocus><br>
    <label for="password" class="sr-only">Password</label>
	<input name="password" id="password" placeholder="Password" class="form-control" type="password" required autofocus><br>
    <div class="checkbox form-control">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
	<button type="submit" class="btn puke-button btn-block btn-lg">Log in</button>
     <a href=""  class="btn btn-social btn-lg btn-block btn-facebook" ua-oauth-link="facebook">
            <i class="fa fa-facebook-square"></i>Log in with Facebook
        </a>

	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
    <p>New to Sportzflix? <a class="orange-links" href="#/signup">Sign up</a></p>
    <p><a class="orange-links" href="#/reset-password">Forgot Your password?</a></p>
</form>


    </div>
-->

<frontfooter></frontfooter>