<frontmenu></frontmenu>

<div class="container whitebox-container">
    <h1 class="puke-green">Reset your password</h1>
    <div class="pull-right"><a href="#/login">Log in</a></div>
    <form ua-reset-password ng-show="!emailSent">
        <div class="form-group">
            <label for="login" >Email</label>
            <input name="login" id='login' class="form-control" placeholder="Username"><br>
        </div>
    <div class="form-group">
	<button class="btn btn-success btn-lg" type="submit">Send email</button>
        </div>

	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>


<p ng-show="emailSent">An email has been sent to your inbox. Click on the link to set a new password.</p>

</div>


