<div class="container signin-container" ng-controller="SignupCtrl">


<h1 class="puke-green">Sign Up</h1>


<form ua-signup class="form-horizontal" ng-show="!verificationEmailSent">
	<div class="form-group">
		<div class="col-sm-6">
			<label for="first_name">First Name</label>
			<input name="first_name" id="first_name" class="form-control" placeholder="first name"><br>
		</div>

		<div class="col-sm-6">
			<label for="last_name">Last Name</label>
			<input name="last_name" id="last_name" class="form-control" placeholder="last name"><br>
		</div>

	</div>

	<div class="form-group">

		<div class="col-sm-12">
			<label for="login">Email</label>
			<input name="login" class="form-control" id="login" ua-is-email placeholder="Email">
		</div>

	</div>

	<div class="form-group">

		<div class="col-sm-12">
			<label for="password">Password</label>
			<input name="password" id="password" class="form-control" placeholder="Password" type="password"><br>
		</div>

	</div>
		<div class="form-group">

		<div class="col-sm-4">
			<button class="btn btn-success btn-block btn-lg" type="submit">Sign Up</button>
		</div>

		<div class="col-sm-6">
			<button class="btn btn-social btn-lg btn-facebook" ua-oauth-link="facebook"><i class="fa fa-facebook fa-2x"></i>Sign up with Facebook</button>

		</div>

	</div>

	<div class="container">
		<p>Already have an account? <a href="#/login">Login here.</a></p>
		</div>

</form>


<!---
	<p><button type="submit">Create account</button> or <a href="" ua-oauth-link="facebook">Sign up with Google</a></p>
-->
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>


<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>

	</div>


</div>
