<frontmenu></frontmenu>

<!--start middle container-->
<div class="container whitebox-container">
    <div>
        <h1 class="puke-green form-signin-heading text-center">Sign Up</h1>
    </div>
<!--
    <div class="form-container">

        <form ua-signup class="form-horizontal" ng-show="!verificationEmailSent">
            <div class="form-group">
                <div class="col-sm-6">
                    <label for="first_name">First Name</label>
                    <input name="first_name" id="first_name" class="form-control" placeholder="first name"><br>
                </div>

                <div class="col-sm-6">
                    <label for="last_name">Last Name</label>
                    <input name="last_name" id="last_name" class="form-control" placeholder="last name"><br>
                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-12">
                    <label for="login">Email</label>
                    <input name="login" class="form-control" id="login" ua-is-email placeholder="Email">
                </div>

            </div>

            <div class="form-group">

                <div class="col-sm-12">
                    <label for="password">Password</label>
                    <input name="password" id="password" class="form-control" placeholder="Password"
                           type="password"><br>
                </div>

            </div>
            <div class="form-group">

                <div class="col-sm-offset-2">
                    <div class="col-sm-5">
                        <button class="btn puke-button btn-block btn-lg" type="submit">Sign Up</button>
                    </div>

                    <div class="col-sm-5">
                        <button class="btn btn-social btn-lg btn-block btn-facebook" ua-oauth-link="facebook"><i
                                class="fa fa-facebook fa-2x"></i>Sign Up
                        </button>

                    </div>

                </div>


            </div>

            <div>
                <div class="col-sm-offset-2">
                    <p>Already have an account? <a class="normal-links" href="#/login">Login here.</a></p>
                </div>

            </div>

        </form>


        <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>

        <p ng-show="error">{{ error.message }}</p>


        <p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your
            account.</p>

    </div>
    -->
<signup></signup>
</div>

<frontfooter></frontfooter>

