




                <img src="{{item.lead_thumbnail}}" class="img-responsive">


                           <div class="extra-overlay">
                           <div class="extra-play-button">
                                                <span class="glyphicon glyphicon-play-circle" ng-click="playVideo(item.media_id)">
                                                      </span>
                                            </div>

                               <div class="extra-more" ng-click="setFocus(item, channel.id)">
                                   <span class="glyphicon glyphicon-plus"></span>
                               </div>

                </div>









