<img src="{{episode.lead_thumbnail}}" class="img-responsive">


<div class="extra-overlay">
    <div class="extra-play-button">
                                                <span class="glyphicon glyphicon-play-circle"
                                                      ng-click="goToPlayer(episode, channel)">
                                                      </span>
    </div>
    <!---
   <div class="extra-more hidden-xs" ng-click="setFocus(item, channel.id)">
       <span class="glyphicon glyphicon-plus"></span>
   </div>
   -->

</div>









